
<h1>Students of the life list</h1>
<ul>
  <li>Horacio<a href= "/students/horacio"</li>
   <li>Martha<a href= "/students/martha"</li>
  <li>Arturo</li>
  <li>David</li>
  <li>Luis</li>
  <li>Guillermo</li>
  <li></li>
  <li></li>
</ul>
